{:paths
 ["src"]

 :deps
 {org.apache.flink/flink-connector-kafka {:mvn/version "3.2.0-1.19"}}

 :aliases
 {:extra
  {:extra-deps
   {org.apache.flink/flink-clients {:mvn/version "1.20.0"}
    org.apache.flink/flink-connector-base {:mvn/version "1.20.0"}
    org.apache.flink/flink-streaming-java {:mvn/version "1.20.0"}
    org.apache.flink/flink-table-api-java {:mvn/version "1.20.0"}
    org.apache.flink/flink-table-api-java-bridge {:mvn/version "1.20.0"}}}
  :repl
  {:extra-paths ["classes"]}

  ;; Run with clj -T:build function-in-build
  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.10.5" :git/sha "2a21b7a"}}
   :ns-default build}}}
